@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');

h1,
h2,
h3,
p,
a,
span {
  font-family: 'Chivo', sans-serif;
}

.theme--light.v-application {
  background: #202128;
}

html {
  overflow: hidden;
}